<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>C & W</title>
<SocketStream/>
<link href='http://fonts.googleapis.com/css?family=Sansita+One' rel='stylesheet' type='text/css'>
<script type="text/javascript">
	$(function() {
        $('#gallery a').lightBox();
    });
</script>
</head>

<body>
<div id="background">
<div id="background2">
  <div id="home">&nbsp;</div>
    <div class="nav_bar">
	<ul>
		<li><a href="home" class="nav0">Home</a></li>
		<li><a href="services" class="nav1">Services</a></li>
		<li><a href="about" class="nav2">About Us</a></li>
		<li><a href="gallery" class="nav3">Gallery</a></li>
		<li><a href="contact" class="nav4">Contact Us</a></li>
	</ul>
      </div>
<!--HEADER-->
    <section class="header">
	<div class="nav">
    	    <ul>
       	    	<li><a href="#services" class="services_link">Services</a></li>
            	<li><a href="#about" class="about_link">About Us</a></li>
            	<li><a href="#gallery" class="gallery_link">Gallery</a></li>
            	<li><a href="#contact" class="contact_link">Contact Us</a></li>
            </ul>
	    <div class="title"></div>
          </div>
   </section>
<!--HOME-->

    <section id="homepage">
    	<div class="wrapper">
          <br /> <br /> <br />
            <strong style="color: #fff;font-size:28px;font-family: 'Sansita One', cursive;text-align:center;">
            Renovate Your Home, Renovate Your Way of Life.
          </strong>
              <img src="/images/home_pre.png" />
        </div>
    </section>
<!--SERVICES-->
    <section id="services">
    	<div class="wrapper">
          <br /><br /><br />
          <h1 class="section_title">Services</h1>
          <br />
            <strong style="font-size: 20px;">Interior</strong>
            <ul style="font-size: 18px;">
              <li>Bathroom renovation</li>
              <li>Kitchen renovation</li>
              <li>Basement development</li>
              <li>Recreation room addition</li>
              <li>Fireplace installation</li>
              <li>Central air conditioning</li>
              <li>Drywalling</li>
              <li>Flooring and Carpet</li>
              <li>Wall Removal</li>
            </ul>
            <strong style="font-size: 20px;">Exterior</strong>
            <ul style="font-size: 18px;">
                <li>Roof Shingle replacement</li>
                  <li> Deck and Railing removal and installation</li>
                  <li> Garage Construction</li>
                  <li>Patio covers</li>
                  <li>Fence Building</li> 
              </ul>
            <strong style="font-size: 20px;">Painting</strong>
                  <ul style="font-size: 18px;">
                    <li>Interior Painting</li>
                    <li>Exterior Painting</li>
                  </ul>
            <strong style="font-size: 20px;">Windows and Doors Replacement</strong>
            <br />
            <strong style="font-size: 20px;">Electrical Work</strong>

        </div>
        </section>
<!--ABOUT-->
    <section id="about">
    	<div class="wrapper">
          <br /><br /><br />
        <h1 class="section_title">About Us</h1>
        <br />
        <div style="float: left; margin-right: 10px; text-align: center;">
          <img src="/images/team.png" alt="C&W renovation team" />
        </div>
        <div>
          <ul style="list-style-type: none;">
            <li>&nbsp;</li>
            <li>&nbsp;</li>
            <li class="staff_name">Jack - CEO 
            </li>
            <li>&nbsp;</li>
            <li class="staff_name">Ting - Carpenter
            </li>
            <li>&nbsp;</li>
            <li class="staff_name">Fu - Carpenter
            </li>
            <li>&nbsp;</li>
            <li class="staff_name">Daniel - Handyman
            </li>
            <li>&nbsp;</li>
            <li class="staff_name">Hui - Handyman</li>
        </div>
    </section>
<!--GALLERY-->
    <section id="gallery">
    	<div class="wrapper">
          <br /><br /><br />
        <h1 class="section_title">Gallery</h1>
         <table>
              <tbody>
                <tr>
                  <td>
                    <a href="/images/gallery/1.jpg" title="">
                      <img class="photo" src="/images/gallery/1t.jpg" alt="" />
                    </a>
                  </td>
                  <td>
                    <a href="/images/gallery/2.jpg" title="">
                      <img class="photo" src="/images/gallery/2t.jpg" alt="" />
                    </a>
                  </td>
                  <td>
                    <a href="/images/gallery/3.jpg" title="">
                      <img class="photo" src="/images/gallery/3t.jpg" alt="" />
                    </a>
                  </td>
                  <td>
                    <a href="/images/gallery/4.jpg" title="">
                      <img class="photo" src="/images/gallery/4t.jpg" alt="" />
                    </a>
                  </td>
                </tr>

                <tr>
                  <td>
                    <a href="/images/gallery/5.jpg" title="">
                      <img class="photo" src="/images/gallery/5t.jpg" alt="" />
                    </a>
                  </td>
                  <td>
                    <a href="/images/gallery/6.jpg" title="">
                      <img class="photo" src="/images/gallery/6t.jpg"  alt="" />
                    </a>
                  </td>
                  <td>
                    <a href="/images/gallery/7.jpg" title="">
                      <img class="photo" src="/images/gallery/7t.jpg" alt="" />
                    </a>
                  </td>
                  <td>
                    <a href="/images/gallery/8.jpg" title="">
                      <img class="photo" src="/images/gallery/8t.jpg" alt="" />
                    </a>
                  </td>
              </tr>
           
              <tr>
                  <td>
                    <a href="/images/gallery/9.jpg" title="">
                      <img class="photo" src="/images/gallery/9t.jpg" alt="" />
                    </a>
                  </td>
                  <td>
                    <a href="/images/gallery/10.jpg" title="">
                      <img class="photo" src="/images/gallery/10t.jpg"  alt="" />
                    </a>
                  </td>
                  <td>
                    <a href="/images/gallery/11.jpg" title="">
                      <img class="photo"src="/images/gallery/11t.jpg"  alt="" />
                    </a>
                  </td>
                  <td>
                    <a href="/images/gallery/11.jpg" title="">
                      <img class="photo" src="/images/gallery/11t.jpg" alt="" />
                    </a>
                  </td>
              </tr>
              </tbody>
            </table>
          </div>
    </section>
<!--CONTACT-->
    <section id="contact">
        <div class="wrapper">
          <br /><br /><br />
        <h1 class="section_title">Contact</h1>
        <div style="font-family: Arial;font-size:20px;">
          <br />
          <strong>Address:</strong> 820 11th Avenue Regina SK Canada
          <br />
          <strong>Email address:</strong> jack.cwrenos@gmail.com
          <br />
          <strong>Cellphone number:</strong> 306-596-9127
          <br />
          <br />
        <iframe style="margin-left: 150px;" width="425" height="300" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=820+11th+Avenue,+Regina,+SK,+Canada&amp;aq=0&amp;oq=820+11th&amp;sll=37.0625,-95.677068&amp;sspn=41.360684,86.572266&amp;t=m&amp;ie=UTF8&amp;hq=&amp;hnear=820+11th+Ave,+Regina,+Saskatchewan+S4N+0K6,+Canada&amp;ll=50.4504,-104.593706&amp;spn=0.019128,0.036478&amp;z=14&amp;iwloc=A&amp;output=embed"></iframe><br />
        </div>
        </section>
        <br /> <br />
<!--FOOTER-->
    <section id="footer">
   		<div class="wrapper">
                  <div class="copyright">Copyright &#169; C&W Renovations and Improvements Ltd. All rights reserved. <br />Designed and hosted by <a href="http://richever.ca">Richever Technology Ltd.</a></div>
        </div>
    </section>
    <script type="application/javascript">
	$(".nav0").click(function(e){
		e.preventDefault();
		$.scrollTo("#home", 1000);
	});

	$(".services_link, .nav1").click(function(e){
		e.preventDefault();
		$.scrollTo("#services", 1000);
	});
	$(".about_link, .nav2").click(function(e){
		e.preventDefault();
		$.scrollTo("#about", 1000);
	});
	$(".gallery_link, .nav3").click(function(e){
		e.preventDefault();
		$.scrollTo("#gallery", 1000);
	});
	$(".contact_link, .nav4").click(function(e){
		e.preventDefault();
		$.scrollTo("#contact", 1000);
	});

	$('.nav_bar').hide();
	$(document).ready(function() {
		$(window).scroll(function() {
			if($(window).scrollTop() >= 300)
				$('.nav_bar').show();
			else if($(window).scrollTop() <= 100)
				$('.nav_bar').hide();
		});
	});
    </script>
</div>
</div>
</body>
</html>
